<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title}</title>
<meta name="dc.description" content="{description}">
<link href="/Templates/css/base.css" media="screen, print" rel="stylesheet" type="text/css" />
<link href="/Templates/css/2col.css" media="screen, print" rel="stylesheet" type="text/css" />
<style type="text/css" media="all">@import url(/Templates/css/base2.css);</style>
<link href="/Templates/css/pf-if.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page">
<div class="core">
<div class="left">&nbsp;</div>
<div class="center">
<!----------- some comment ------>
<h1 class="some_class">{h1}</h1>
<!--- some comment da da da ------------------------->
{content}
</div>
</div>
</div>
</body>
</html>
